* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');
body{
    background-color: #9aacb5;
}
#header{
    width: 100%;
    height: 80px;
    background-color: #4d4d4d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#header img{
    height: 70px;
    left: 15px;
    border-radius: 25px;
}
#header p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
#catalogoBoton, #administrarBoton{
    height: 100%;
    width: 11%;
    background-color: transparent;
    color: white;
    border: none;
}
#catalogoBoton:hover, #administrarBoton:hover{
    color: #a0a0a0;
}
#catalogoGrande{
    width: 80%;
    margin: 2% auto 0 auto;
}
.librosTitulo{
    text-align: initial;
    font-weight: 600;
    padding-left: 10px;
}
#catalogoGrande{
    text-align: center;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    background-color: #efe4d5;
    border-collapse: collapse;
}
#catalogoGrande td{
    border: black 2px solid;
    height: 100px;
}
#catalogoGrande th{
    border: black 2px solid;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 15px;
}
.imgCatalogo{
    height: 80px;
    padding: px;
}
.catalogoTitulo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    display: flex;
    text-align: center;
    width: 80%;
    margin: 0 10% 0 10%;
    background-color: #efe4d5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.catalogoTitulo p{
    margin: 15px 0 0 0;
}
.catalogo{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 10% 0% 10%;
    background-color: #efe4d5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.catalogo p{
    margin: 20px 0 20px 0;
    font-size: 1.3rem;
    font-family: 'IBM Plex Sans', sans-serif;
}
#titulo, #isbn, #stock{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
#titulo, .tituloT{
    width: 55%;
}
#isbn, .isbnT{
    width: 30%;
}
#stock, .stockT{
    width: 15%;
}
.agregar{
    display: flex;
    flex-direction: row;
    margin: 2% 0 2% 0;
}
#input1, #input2, #input3, #buscar, #nuevoStock{
    height: 20px;
    margin: 13.5px 10px;
    width: 200px;
    align-self: center;
    background: rgb(209, 209, 209);
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}
.stockTotal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4d4d4d;
    width: 30%;
    margin: 0 35% 0% 35%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    height: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;

}
#boton, #cargar, #cambiar{
    height: 35px;
    margin: 10px;
    align-self: center;
    background: rgb(41, 41, 41);
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 3px;
    font-family: 'Roboto', sans-serif;
}
#boton:hover, #cargar:hover, #cambiar:hover {
    background: rgb(105, 105, 105);
}
.flex{
    display: flex;
    flex-direction: row;
    margin: 2% 0 2% 0;
}
.texto{
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 25px;
    align-self: center;
    width: 22%;
    font-family: 'Roboto', sans-serif;

}
.textoOrden{
    font-size: 1.2rem;
}
#compra p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 15px;
}
