* {
    margin: 0;
    padding: 0;
}
::placeholder { color: rgb(107, 107, 107); }
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');
body{
    background-color: #9aacb5;
    background-image: url(./imagenes/fondo.png);
}
p{
    margin: 0;
}
#header{
    width: 100%;
    height: 80px;
    background-color: #33435a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#header img{
    height: 70px;
    left: 15px;
    border-radius: 25px;
}
#header p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
#catalogoBoton, #administrarBoton{
    height: 100%;
    width: 11%;
    background-color: transparent;
    color: white;
    border: none;
}
#catalogoBoton:hover, #administrarBoton:hover{
    color: #a0a0a0;
}
#administrar{
    width: 90%;
    margin: auto;
    background-color: #9aacb5;
}
.ingreso{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 25rem;
    margin-top: 8rem;
    border: black solid 4px;
    background-color: #33435a;
}
.ingreso img{
    height: 85px;
}
.ingreso button{
    margin-top: 15px;
    color: black;
    font-size: 1.2rem;
}
.ingreso button:hover{
    color: #9aacb5;
}
.ingresoCuenta{
    width: 70%;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: black solid 2px;
    margin-bottom: 25px;
}
.ingreso p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: black;
}
.modal-body{
    display: flex;
    flex-direction: column;
}
.modal-body div{
    margin: auto;
}
.modal-body input{
    margin: 10px auto 15px auto;
}
.email{
    width: 80%;
}
.modal-footer{
    display: flex;
    justify-content: center;
}
#catalogoGrande{
    width: 80%;
    margin: auto;
}
.librosTitulo{
    text-align: initial;
    font-weight: 600;
    padding-left: 10px;
}
#catalogo{
    width: 90%;
    margin: auto;
    background-color: #9aacb5;
    padding: 2% 0 5% 0;
}
#catalogoGrande{
    text-align: center;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    background-color: #efe4d5;
    border-collapse: collapse;
}
#catalogoGrande td{
    border: black 2px solid;
    height: 100px;
}
#catalogoGrande th{
    border: black 2px solid;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 15px;
}
.imgCatalogo{
    height: 80px;
    padding: px;
}
.catalogoTitulo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    display: flex;
    text-align: center;
    width: 80%;
    margin: 0 10% 0 10%;
    background-color: #efe4d5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.catalogoTitulo p{
    margin: 15px 0 0 0;
}
.catalogo{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 10% 0% 10%;
    background-color: #efe4d5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.catalogo p{
    margin: 20px 0 20px 0;
    font-size: 1.3rem;
    font-family: 'IBM Plex Sans', sans-serif;
}
#titulo, #isbn, #stock{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
#titulo, .tituloT{
    width: 40%;
}
#isbn, .isbnT{
    width: 25%;
}
#stock, .stockT{
    width: 15%;
}
#ventas, .ventasT{
    width: 20%;
}
#ventas input{
    margin: 26px 15% 0 15%;
    width: 70%;
    height: 23px;
    align-self: center;
    background: rgb(209, 209, 209);
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    line-height: normal;
}
.agregar{
    display: flex;
    flex-direction: row;
    margin: 0 0 2% 0;
    padding-top: 2%;
}
#input1, #input2, #input3, #buscar, #nuevoStock{
    height: 35px;
    margin: 13.5px 10px;
    width: 200px;
    align-self: center;
    background: rgb(209, 209, 209);
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}
.stockTotal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4d4d4d;
    width: 30%;
    margin: 0 35% 0 35%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    height: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
}
#boton, #cargar, #cambiar{
    height: 35px;
    margin: 10px;
    align-self: center;
    background: rgb(41, 41, 41);
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    font-size: 1rem;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
}
#boton:hover, #cargar:hover, #cambiar:hover {
    background: rgb(105, 105, 105);
}
.flex{
    display: flex;
    flex-direction: row;
    margin: 2% 0 2% 0;
}
.texto{
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 25px;
    align-self: center;
    width: 23%;
    font-family: 'Roboto', sans-serif;

}
.textoOrden{
    font-size: 1.2rem;
}
#compra{
    padding-bottom: 2%;
    margin-left: 10px;
}
#compra p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 15px;
}
